{% extends 'optica/base.html' %}
{% load static crispy_forms_tags %}

{% block content%}



<!-- Page Content -->
<div id="content" class="bg-grey w-100 fixed" style="overflow-y: auto; max-height: 100vh;">
    <section class="bg-light py-3">
        <div class="container fixed">
            <!-- <div class="row">
                <div class="col-lg-9 col-md-8"> -->
            <h1 class="font-weight-bold mb-0 fixed">
                {% if cliente %}
                Editar Cliente
                {% else %}
                Crear Cliente
                {% endif %}

            </h1>
            <p class="lead text-muted">Ingrese los datos solicitados</p>
            <!-- </div>

            </div> -->
        </div>
    </section>

    <div id="content" class="bg-grey w-100" style="overflow-y: auto; max-height: 100vh;">
        <div style="display: flex; justify-content: center; align-items: center;" class="mt-3">
            <div class="card border-success mt-2 mb-5" style="width: 60rem;">
                <div class="card border border-1 shadow rounded p-3 ">
                    <!-- <div class="scrollable-form"> -->
                    <form action="" method="post" class="mt-3 mb-3 modal-condensed " enctype="multipart/form-data"
                        novalidate>

                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 text-center mt-3 font-weight-bold">
                                <h3>Optica Cruz - Registro de Clientes</h3>
                            </div>
                        </div>

                        <div class="row mt-5 ml-1 mr-1">
                            <div class="col-md-4">
                                {{ form.nombreCliente|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.apPaternoCliente|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.apMaternoCliente|as_crispy_field }}
                            </div>
                        </div>
                        {% if not cliente %}
                        <div class="row mt-2 ml-1 mr-1">
                            <div class="col-md-3">
                                {{ form.rutCliente|as_crispy_field }}
                            </div>
                            <div class=" col-md-1 mr-5 form-group">
                                {{ form.dvRutCliente|as_crispy_field }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="row mt-2 ml-1 mr-1">
                            <div class=" col-md-3">
                                {{ form.telefonoCliente|as_crispy_field }}
                            </div>
                            <div class=" col-md-3">
                                {{ form.celularCliente|as_crispy_field }}
                            </div>

                            <div class="col-md-6">
                                {{ form.emailCliente|as_crispy_field }}
                            </div>


                        </div>
                        <div class="row mt-2 ml-1 mr-1">
                            <div class="col-md-12">
                                {{ form.direccionCliente|as_crispy_field }}
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <a href="{% url 'cliente_list' %}" class="btn btn-secondary mr-3">Cancelar</a>

                            <button type="submit" class="btn btn-success">
                                Guardar Datos
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>



</div>
{% endblock content %}